# EcoBin ESP32 Environment Configuration Example
VITE_ESP32_IP=192.168.1.150

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyA2bUo15pxy8cwIngrUNJ1mqv1NX6Q9i_Y
VITE_FIREBASE_AUTH_DOMAIN=ecobin-39c3c.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://ecobin-39c3c-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=ecobin-39c3c
VITE_FIREBASE_STORAGE_BUCKET=ecobin-39c3c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=402291278738
VITE_FIREBASE_APP_ID=1:402291278738:web:a4c07203c508404043374b
VITE_FIREBASE_MEASUREMENT_ID=G-QYNYNWDW3B
